version: '3'
services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - redis
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
      - "8080:80"
  redis:
    image: redis:latest
    ports:
      - "6379:6379"